/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.st_plugin_container {
	width: 100%;
	margin-top: 20px;
}

.st_button_container {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 15px;
}

.st_prompt_field {
	width: 100%;
	min-height: 100px;
	padding: 10px;
	font-size: 16px;
}

.st_url_input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.st_cancel_button {
	background-color: #b33939;
}

.st_generate_button {
	background-color: #218c74;
}